.btn {
    font-size: 0.7rem;
    height: 40px;
    width: 100%;
    -moz-border-radius: 2rem;
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
}



.registration-page-wrapper {
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: auto;
    padding: 0.5rem;
}

.registration-form {
    background: #fff;
    width: 30rem;
    max-width: 100%;
    padding: 2rem;
    border: 2px solid var(--naranjaClaro);
    border-radius: 2rem;
    -moz-border-radius: 2rem;
    -webkit-border-radius: 2rem;
    margin: auto;
    box-shadow: 0 1px 2px 2px rgba(#181818, 1);
}

.registration_tittle {
    width: 100%;
    height: 70px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.registration_tittle label {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 2rem;
    font-size: var(--fuentePrincipal);
}

#settings {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: end;
    align-items: center;
}


.container {
    padding: 2rem;
    background: #EEE;
    border: 2px solid #CCC;
    border-radius: 0.5rem;
}

.registration__button {
    width: 100%;
    height: 60px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.button__save {
    background-color: var(--primario);
    color: var(--blanco);
    z-index: 1;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--fuentePrincipal);
    font-weight: 300;
}

.button__save:hover {
    background-color: var(--blanco);
    color: var(--secundario);
    border: 1px solid var(--naranjaClaro);
    z-index: 11111;
    cursor: pointer;
}
.button__save:disabled {
    background-color: gray;
    color: var(--blanco);
    border: 1px solid var(--naranjaClaro);
    z-index: 11111;
    cursor: pointer;
}